.datepicker.datepicker-dropdown .datepicker-days table.table-condensed thead tr th.dow:first-child {
  text-align: center !important;
}
.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody td.day:first-child{
  text-align: center !important;
}
.datepicker.datepicker-dropdown .datepicker-days table.table-condensed thead tr th.dow:last-child{
  text-align: center !important;
}
.datepicker.datepicker-dropdown .datepicker-days table.table-condensed tbody td.day:last-child{
  text-align: center !important;
}

.dataTables_wrapper .table-sm thead th::before,
.dataTables_wrapper .table-sm thead th::after {
  line-height: 1 !important;
}

.card-title {
  font-size: 20px !important;
}

.table td {
    line-height: inherit !important;
}

.clasesform {
  padding-bottom: 1.75rem !important;
}
.details-control {
  margin-top: 3px;
  height: 16px;
  display: block;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  background-color: #0275d8;
}
.detailsChild-control {
  margin-top: 3px;
  height: 16px;
  display: block;
  color: white;
  border: 2px solid white;
  border-radius: 14px;
  box-shadow: 0 0 3px #444;
  box-sizing: content-box;
  text-align: center;
  text-indent: 0 !important;
  font-family: 'Courier New', Courier, monospace;
  line-height: 14px;
  background-color: #0275d8;
}
.form-group{
    margin-bottom: 0.2rem !important;
}
.mt-10{
  margin-top:10px;
}
.mt-30{
  margin-top:30px;
}
.sidebar .nav .nav-item.nav-profile img{
max-width: 170px !important;
border-radius: 0px !important;
}
.card-header{
  background: #FFF !important;
  border-bottom : 1px solid #FFF !important;
  padding: 1rem 1.25rem 0rem 1.25rem !important;
}
.card .card-body{
  padding: 1rem 1.81rem !important;
}
.btn-edit-record, .btn-remove-record{
  font-size: 12px !important;
}
.dataTables_wrapper .dataTable .btn{
      padding: 0.1rem 0.5rem !important;
}
.navbar.default-layout{
    height: 50px;
}
.navbar.default-layout .navbar-menu-wrapper
.navbar-nav .nav-item.user-dropdown{
    height:75px !important;
    border-right: 0px solid #FFF !important;;
    border-left: 0px solid #FFF !important;;
}
.btn-primary{
    background: #A3CB38 !important;
    border-color: #A3CB38 !important;
}
.btn-primary:hover{
    background: #A3CB38 !important;
    border-color:  #A3CB38 !important;
}
.btn-success{
    background: #004E43 !important;
    border-color: #004E43 !important;
}
.btn-success:hover{
    background: #004E43 !important;
    border-color:  #004E43 !important;
}
.card-title{
  font-weight:bold;
}
.percent, .percentNoComma, .percentNoCommaReadOnly, .currency, .currencyNoComma, .currencyNoCommaReadOnly, .percentReadOnly{
  text-align: right;
  float:  right;
  /* padding-right: 20px !important; */
}

.info .percent, .info .percentNoComma, .info .percentNoCommaReadOnly, .info .currency, .info .currencyNoComma, .info .currencyNoCommaReadOnly{
  text-align: left;
  float:  none;
}

.pagination .page-item:hover .page-link {
  {
    background: #004E43 !important;
    border-color: #004E43 !important;
  }
.page-item.disabled .page-link{
  background: #004E43 !important;
  border-color: #004E43 !important;
}
.tab-solid .nav-item .nav-link.active{
  border: none;
  color: #000 !important;
  font-weight: 600;
}
div.dataTables_wrapper div.dataTables_length select {
    width: 55px !important;
    display: inline-block !important;
}
