#div-login{
	background-image:url('/img/login_bg.png');
	background-repeat: no-repeat;
  background-position: 100% 50%;
  background-size: cover;
}

.line_horizontal {
	border-left: 1px solid #ced4da;
  height: 100px;
	margin-top:-40%;
	margin-left: 50%;
}
.form-login{
	border: 0;
	outline: 0;
	background: transparent;
	border-bottom: 1px solid black;
	border-radius: 0px;
}

.form-login:focus{
    background-color: transparent !important;
    border-color: black !important;
    outline: 0 !important;
    box-shadow: none !important;
}

.btn-login{
	background-color: #A33333;
	color: whitesmoke;
	border-radius: 5px;
}

.btn-login:hover{
	color: white;
	background-color: #00AA4E;
}

.btn-register{
	background-color: #BFD730;
	color: white;
	border-radius: 5px;
}

.btn-register:hover{
	color: white;
	background-color: #BFD730;
}
.navbar-laravel{
	background: #A33333;
}
